
/* unvisited link */
nav a:link {
    text-decoration: none;
}

/* visited link */
nav a:visited {
    text-decoration: none;
}

/* mouse over link */
nav a:hover {
    text-decoration: none;
}

/* selected link */
nav a:active {
    text-decoration: none;
    
    
}

ul {
    list-style-image: url('img/sqpurple.gif');
}

p{
    font-style: italic;
}
