.header{
    font-weight: bold;
}

/* unvisited link */
nav a:link {
    text-decoration: none;
}

/* visited link */
nav a:visited {
    text-decoration: none;
}

/* mouse over link */
nav a:hover {
    text-decoration: none;
}

/* selected link */
nav a:active {
    text-decoration: none;
    font-weight: bold;
    border: 1px solid red;
    
    
}

#orange {
    list-style-image: url('img/orange.png');
}
#apple {
    list-style-image: url('img/apple.jpg');
}
#strawberry {
    list-style-image: url('img/strawberry.jpg');
}
#blueberry {
    list-style-image: url('img/blueberry.png');
}
#grapes {
    list-style-image: url('img/grapes.jpg');
}

.red{
    color:red;
}
.inline{
    display: inline;
}
